body{
  padding-top:70px;
  background: lightgrey;
}
#n1{
  background-color: #6FBFD8;
}
#n2{
  background-color: #5FA4B9;
}
#n3{
  background-color: #528EA0;
}
#n4{
  background-color: #406E7C;
}
.jumbotron{
  color: #5268A4;
  text-shadow: 1px 2px 2px grey;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.fa-pencil-square-o{
  float: right;
}

#links span{
  line-height: 40px;
  text-align: center;
  padding-right: 40px;
}
#links {
  line-height: 40px;
  text-align: center;

}
.thumbnail{
  background-color: lightblue;
}
#blog-container{
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}
.completed{
  color: gray;
  text-decoration: line-through;
}
ul{
  list-style: none;
}
#blog-heading{
  background: #2980b9;

}

footer{
  margin: auto;
}
